lmsgi/ud4/actividades/actividad1/index.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ejr1">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ciudad" type="xs:string"/>
                <xs:element name="fecha-de-nacimiento" type="xs:date"/>
                <xs:element name="hora" type="xs:time"/>
                <xs:element name="nota">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="10"/>
                            <xs:fractionDigits value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="apto" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
