lmsgi/ud4/actividades/actividad9/index.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="precios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="temporada_alta" type="precioType"/>
                <xs:element name="temporada_baja" type="precioType"/>
                <xs:element name="temporada_media" type="precioType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definición del tipo de dato para los precios -->
    <xs:simpleType name="precioType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{1,3}(\.\d{1,2})?"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
